<div class="col-lg-8 col-sm-8" ng-controller="ConferenceCtrl">

	<div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="/img/jax_london_logo.png">
        </div>
        <div class="useravatar">
            <img alt="" src="/img/jax_london_logo.png">
        </div>
        <div class="card-info"> <span class="card-title">JAX LONDON 2016 PROGRAM PREVIEW</span>

        </div>
    </div>

	<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
		<div class="btn-group" role="group">
			<button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab" ng-click="selectTab($event)">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				<div>Day 1</div>
			</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab" ng-click="selectTab($event)">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				<div>Day 2</div>
			</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab" ng-click="selectTab($event)">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				<div>Day 3</div>
			</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab" ng-click="selectTab($event)">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				<div>Day 4</div>
			</button>
		</div>
	</div>

	<div class="well">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="tab1">
				
				<div class="row">
			        <div class="col-xs-12 col-sm-12">

			        	<div class="row">
			        		<h4>Conference Check-In (08:00 - 09:00)</h4>
			        	</div>
			        			        	
			            <div class="row top10" ng-repeat="item in conference.day1">
			            	<hr>		            	
			                <div class="col-xs-1 col-sm-1">
								<div class="cathead-img">
									<img src="img/workshop.png" class="attachment-medium size-medium" />
								</div>
			                </div>
			                <div class="col-xs-2 col-sm-2">
								<i class="fa fa-location-arrow"></i>Room {{item.room.name}}
			                </div>
			                <div class="col-xs-9 col-sm-9">
			                    <div class="sessoin-speaker-title column">
									<a>{{item.title}}</a>
									<div class="twelve columns">
										<a href="">{{item.presenter}}</a>, <em>Google</em>
									</div>
								</div>
			                </div>
			            </div>
			            
			            <hr>
			            
			            <div class="row top10"> 	
			        		<h4>18:50 - 19:50 EXPO RECEPTION – BEER & SNACKS</h4>
			        	</div>
			             <div class="row top10"></div>
			        </div>
				</div>
			</div>
			
			<div class="tab-pane fade in" id="tab2">
			    <div class="row">
			        <div class="col-xs-12 col-sm-12">

			        	<div class="row">
			        		<h4>Conference Check-In (08:00 - 09:00)</h4>
			        	</div>
			        			        	
			            <div class="row top10" ng-repeat="item in conference.day2">
			            	<hr>		            	
			                <div class="col-xs-1 col-sm-1">
								<div class="cathead-img">
									<img src="img/workshop.png" class="attachment-medium size-medium" />
								</div>
			                </div>
			                <div class="col-xs-2 col-sm-2">
								<i class="fa fa-location-arrow"></i>Room {{item.room.name}}
			                </div>
			                <div class="col-xs-9 col-sm-9">
			                    <div class="sessoin-speaker-title column">
									<a>{{item.title}}</a>
									<div class="twelve columns">
										<a href="">{{item.presenter}}</a>, <em>Google</em>
									</div>
								</div>
			                </div>
			            </div>
			            
			            <div class="row top10">
			            	<hr>
			        		<h4>18:50 - 19:50 EXPO RECEPTION – BEER & SNACKS</h4>
			        	</div>
			            
			        </div>
				</div>
			</div>
			
			<div class="tab-pane fade in" id="tab3">
				<div class="row">
			        <div class="col-xs-12 col-sm-12">

			        	<div class="row">
			        		<h4>Conference Check-In (08:00 - 09:00)</h4>
			        	</div>
			        			        	
			            <div class="row top10" ng-repeat="item in conference.day3">
			            	<hr>		            	
			                <div class="col-xs-1 col-sm-1">
								<div class="cathead-img">
									<img src="img/workshop.png" class="attachment-medium size-medium" />
								</div>
			                </div>
			                <div class="col-xs-2 col-sm-2">
								<i class="fa fa-location-arrow"></i>Room {{item.room.name}}
			                </div>
			                <div class="col-xs-9 col-sm-9">
			                    <div class="sessoin-speaker-title column">
									<a>{{item.title}}</a>
									<div class="twelve columns">
										<a href="">{{item.presenter}}</a>, <em>Google</em>
									</div>
								</div>
			                </div>
			            </div>
			            
			            <div class="row top10">
			            	<hr>
			        		<h4>18:50 - 19:50 EXPO RECEPTION – BEER & SNACKS</h4>
			        	</div>
			            
			        </div>
				</div>
			</div>
			
			<div class="tab-pane fade in" id="tab4">
				<div class="row">
			        <div class="col-xs-12 col-sm-12">

			        	<div class="row">
			        		<h4>Conference Check-In (08:00 - 09:00)</h4>
			        	</div>
			        			        	
			            <div class="row top10" ng-repeat="item in conference.day4">
			            	<hr>		            	
			                <div class="col-xs-1 col-sm-1">
								<div class="cathead-img">
									<img src="img/workshop.png" class="attachment-medium size-medium" />
								</div>
			                </div>
			                <div class="col-xs-2 col-sm-2">
								<i class="fa fa-location-arrow"></i>Room {{item.room.name}}
			                </div>
			                <div class="col-xs-9 col-sm-9">
			                    <div class="sessoin-speaker-title column">
									<a>{{item.title}}</a>
									<div class="twelve columns">
										<a href="">{{item.presenter}}</a>, <em>Google</em>
									</div>
								</div>
			                </div>
			            </div>
			            
			            <div class="row top10">
			            	<hr>
			        		<h4>18:50 - 19:50 EXPO RECEPTION – BEER & SNACKS</h4>
			        	</div>
			            
			        </div>
				</div>
			</div>
		</div>
	</div>

</div>