
<div class="section-container container" ng-controller="ConferenceCtrl">
	<div class="gdlr-item gdlr-content-item">
		<div class="gdlr-shortcode-wrapper">
			<div class="text-center">
				<div class="gdlr-item-title-head">
					<h3
						class="gdlr-item-title gdlr-skin-title gdlr-skin-border gdlr-title-large">
						</p><p>JAX London 2016 Program Preview</p><p>
					</h3>
					<div class="clear"></div>
				</div> 
			</div>
		</div>
		</p>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12  session-item-wrapper">
		<div class="row">
			
			<div
				class="gdlr-session-item gdlr-full-session-item gdlr-item timetable-day-4"
				id="timetable-overview-custom">
				<div class="gdlr-session-item-head gdlr-first">
					<a data-toggle="tab" class="table-head-link" href="#day1" ng-class="(selectedTab == 'day1') ? 'table-head-link sands-active' : 'table-head-link sands-not-active'" ng-click="selectedTab = 'day1'">
						<div class="gdlr-session-item-head-info">
							<div class="gdlr-session-head-day">Day 1</div>
							<div class="gdlr-session-head-date">10. Oct 2016</div>
						</div></a><a data-toggle="tab" class="table-head-link" href="#day2" ng-class="(selectedTab == 'day2') ? 'table-head-link sands-active' : 'table-head-link sands-not-active'" ng-click="selectedTab = 'day2'">
						<div class="gdlr-session-item-head-info hidden-xs">
							<div class="gdlr-session-head-day">Day 2</div>
							<div class="gdlr-session-head-date">11. Oct 2016</div>
						</div></a><a data-toggle="tab" class="table-head-link" href="#day3" ng-class="(selectedTab == 'day3') ? 'table-head-link sands-active' : 'table-head-link sands-not-active'" ng-click="selectedTab = 'day3'">
						<div class="gdlr-session-item-head-info hidden-xs">
							<div class="gdlr-session-head-day">Day 3</div>
							<div class="gdlr-session-head-date">12. Oct 2016</div>
						</div></a><a data-toggle="tab" class="table-head-link" href="#day4" ng-class="(selectedTab == 'day4') ? 'table-head-link sands-active' : 'table-head-link sands-not-active'" ng-click="selectedTab = 'day4'">
						<div class="gdlr-session-item-head-info hidden-xs">
							<div class="gdlr-session-head-day">Day 4</div>
							<div class="gdlr-session-head-date">13. Oct 2016</div>
						</div></a>
				</div>
				
				
				<div class="tab-content">
				
					<!-- Day 1 -->
					<div class="tab-pane fade in active" id="day1">
						
						<div class="gdlr-session-item-content-wrapper">
							<div class="gdlr-session-item-divider"></div>
							<div class="session-break-content">
								<h3 class="gdlr-session-break-title">Conference Check-In (08:00 - 09:00)</h3>
							</div>
							<div class="clear"></div>
						</div>
						
						<div class="gdlr-session-item-content-wrapper" ng-repeat="item in conference.day1">
							<div class="gdlr-session-item-divider"></div>
							<div class="gdlr-session-item-content-info ">
								<div class="col-xs-3 session-type-icons">
									<div class="cathead-img">
										<img width="45" height="45" src="img/workshop.png" class="attachment-medium size-medium" />
									</div>
		
								</div>
								<div class="col-xs-9 session-date_info ">
									<div class="gdlr-session-info">
										<div class="session-info session-time">
											<i class="fa fa-clock-o"></i>09:00 - 17:00
										</div>
										<div class="session-info session-location">
											<i class="fa fa-location-arrow"></i>Room {{item.room.name}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
							<div class="gdlr-session-item-content">
								<div class="sessoin-speaker-title column">
									<h3 class="gdlr-session-item-title">
										<a>{{item.title}}</a>
									</h3>
									<div class="twelve columns speakers-name-and-company">
										<a href="https://jaxlondon.com/speaker/robert-kubis/">Robert
											{{item.presenter}}</a>, <em>Google</em>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div><!-- End of Day 1 -->
					
					<!-- Day 2 -->
					<div class="tab-pane fade" id="day2">
						<div class="gdlr-session-item-content-wrapper">
							<div class="gdlr-session-item-divider"></div>
							<div class="session-break-content">
								<h3 class="gdlr-session-break-title">Conference Check-In (08:00 - 09:00)</h3>
							</div>
							<div class="clear"></div>
						</div>
						
						<div class="gdlr-session-item-content-wrapper" ng-repeat="item in conference.day2">
							<div class="gdlr-session-item-divider"></div>
							<div class="gdlr-session-item-content-info ">
								<div class="col-xs-3 session-type-icons">
									<div class="cathead-img">
										<img width="45" height="45" src="img/workshop.png" class="attachment-medium size-medium" />
									</div>
		
								</div>
								<div class="col-xs-9 session-date_info ">
									<div class="gdlr-session-info">
										<div class="session-info session-time">
											<i class="fa fa-clock-o"></i>09:00 - 17:00
										</div>
										<div class="session-info session-location">
											<i class="fa fa-location-arrow"></i>Room {{item.room.name}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
							<div class="gdlr-session-item-content">
								<div class="sessoin-speaker-title column">
									<h3 class="gdlr-session-item-title">
										<a>{{item.title}}</a>
									</h3>
									<div class="twelve columns speakers-name-and-company">
										<a href="https://jaxlondon.com/speaker/robert-kubis/">Robert
											{{item.presenter}}</a>, <em>Google</em>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div><!-- End of Day 2 -->
					
					<!-- Day 3 -->
					<div class="tab-pane fade" id="day3">
						<div class="gdlr-session-item-content-wrapper">
							<div class="gdlr-session-item-divider"></div>
							<div class="session-break-content">
								<h3 class="gdlr-session-break-title">Conference Check-In (08:00 - 09:00)</h3>
							</div>
							<div class="clear"></div>
						</div>
						
						<div class="gdlr-session-item-content-wrapper" ng-repeat="item in conference.day3">
							<div class="gdlr-session-item-divider"></div>
							<div class="gdlr-session-item-content-info ">
								<div class="col-xs-3 session-type-icons">
									<div class="cathead-img">
										<img width="45" height="45" src="img/workshop.png" class="attachment-medium size-medium" />
									</div>
		
								</div>
								<div class="col-xs-9 session-date_info ">
									<div class="gdlr-session-info">
										<div class="session-info session-time">
											<i class="fa fa-clock-o"></i>09:00 - 17:00
										</div>
										<div class="session-info session-location">
											<i class="fa fa-location-arrow"></i>Room {{item.room.name}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
							<div class="gdlr-session-item-content">
								<div class="sessoin-speaker-title column">
									<h3 class="gdlr-session-item-title">
										<a>{{item.title}}</a>
									</h3>
									<div class="twelve columns speakers-name-and-company">
										<a href="https://jaxlondon.com/speaker/robert-kubis/">Robert
											{{item.presenter}}</a>, <em>Google</em>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div><!-- End of Day 3 -->
					
					<!-- Day 4 -->
					<div class="tab-pane fade" id="day4">
						<div class="gdlr-session-item-content-wrapper">
							<div class="gdlr-session-item-divider"></div>
							<div class="session-break-content">
								<h3 class="gdlr-session-break-title">Conference Check-In (08:00 - 09:00)</h3>
							</div>
							<div class="clear"></div>
						</div>
						
						<div class="gdlr-session-item-content-wrapper" ng-repeat="item in conference.day4">
							<div class="gdlr-session-item-divider"></div>
							<div class="gdlr-session-item-content-info ">
								<div class="col-xs-3 session-type-icons">
									<div class="cathead-img">
										<img width="45" height="45" src="img/workshop.png" class="attachment-medium size-medium" />
									</div>
		
								</div>
								<div class="col-xs-9 session-date_info ">
									<div class="gdlr-session-info">
										<div class="session-info session-time">
											<i class="fa fa-clock-o"></i>09:00 - 17:00
										</div>
										<div class="session-info session-location">
											<i class="fa fa-location-arrow"></i>Room {{item.room.name}}
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
							<div class="gdlr-session-item-content">
								<div class="sessoin-speaker-title column">
									<h3 class="gdlr-session-item-title">
										<a>{{item.title}}</a>
									</h3>
									<div class="twelve columns speakers-name-and-company">
										<a href="https://jaxlondon.com/speaker/robert-kubis/">Robert
											{{item.presenter}}</a>, <em>Google</em>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div><!-- End of Day 4 -->
				
				</div><!-- End of Tab Content -->
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="clear"></div>
</div>
